* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #606c5d;
  --white-pink: #fff4f4;
  --light-gold: #f7e6c4;
  --dark-gold: #f1c376;
}

body {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--dark-green);
}

a:hover {
  color: var(--dark-gold);
}

button {
  background-color: transparent;
}

.btn-swagflow {
  background-color: var(--dark-gold);
  box-shadow: none;
  border: none;
  color: white;
  font-weight: bold;
  border-color: transparent;
}
.btn-swagflow:hover {
  color: white;
  background-color: var(--light-gold);
  border-color: transparent;
}
.btn-swagflow:active {
  background-color: var(--white-pink);
  box-shadow: none;
  border-color: transparent;
}

/* ---------------Header ----------- */
.header-background {
  background-color: var(--dark-green);
}
.logo-font {
  font-family: "Satisfy", cursive;
  color: var(--white-pink);
}

.logo-font:hover {
  color: var(--white-pink);
}

.logo-font span {
  color: var(--dark-gold);
}

.nav-link {
  font-weight: bold;
  color: var(--white-pink);
}

.nav-link:hover {
  color: var(--dark-gold);
}
.search-wrapper {
  width: 80%;
}

.search-bar:focus {
  border-color: var(--dark-gold);
  box-shadow: 0 0 5px var(--dark-gold);
}

.search-btn {
  background-color: var(--dark-gold);
}

.header-icon {
  color: var(--white-pink);
  cursor: pointer;
  transition: all 0.3s;
}

.header-icon:hover {
  color: var(--dark-gold);
}

.account-menu {
  transform: translate(-45px, 35px) !important;
}

.lblCartCount {
  font-size: 12px;
  background: var(--light-gold);
  color: black;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -8px;
}
.badge {
  /* padding-left: 9px;
padding-right: 9px; */
  padding: 4px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

/* ---------------Header ----------- */

/* ---------------Home -------------- */

.banner-wrapper {
  height: 90vh;
}

.banner-item {
  height: 92vh;
}

.category-block-wrapper {
  position: relative;
  cursor: pointer;
}

.category-block-wrapper h4 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: "Satisfy", cursive;
  transition: all 0.5s;
}

.category-block-wrapper:hover h4 {
  color: white;
  font-size: 2.5rem;
}

.category-block-wrapper:hover .category-block-bg {
  filter: brightness(0.2);
}

.category-block-bg {
  height: 50vh;
  background-size: cover;
  filter: brightness(0.4);
  transition: all 0.5s;
}

#tshirts-block {
  background-image: url("/images/tshirt_block.jpg");
}
#jeans-block {
  background-image: url("/images/jean_block.jpg");
}
#sweatpants-block {
  background-image: url("/images/sweatpant_block.jpg");
}
#jackets-block {
  background-image: url("/images/jacket_block.jpg");
}

/* ---------------Product Slider ----------*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  #featureContainer .carousel-inner .carousel-item > div {
    display: none;
  }
  #featureContainer .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  #featureContainer .carousel-inner .carousel-item-end.active,
  #featureContainer .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  #featureContainer .carousel-inner .carousel-item-start.active,
  #featureContainer .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  #featureContainer .card img {
    width: 90%;
    height: 40vh;
  }
  #featureContainer .carousel-item {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  #featureContainer .card img {
    width: 100%;
    height: 75vh;
  }
}
#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
  transform: translateX(0);
}
#featureContainer .carousel-inner {
  margin-top: 5rem;
}

#featureContainer .card {
  border: 0;
}
#featureContainer .card {
  position: relative;
}
#featureContainer .card .card-img-overlays {
  position: absolute;
  bottom: 15%;
  left: 10%;
}
#featureContainer a {
  text-decoration: none;
}
#featureContainer .indicator {
  border: 1px solid rgb(202, 202, 202);
  padding: 3px 6px 3px 6px;
}
#featureContainer .indicator:hover {
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  transition: 200ms;
}
#featureContainer .indicator:hover {
  color: white;
  transition: 200ms;
}
#featureContainer .indicator {
  color: lightgray;
}
#featureContainer .float-end {
  padding-top: 10px;
}

/* ----------------------------- */

/* ---------------Home -------------- */

/* ---------------Footer---------------- */

footer {
  clear: both;
  background-color: var(--dark-green);
  color: var(--white-pink);
}

footer h4 {
  font-weight: bold;
  color: var(--light-gold);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.divider {
  border-top: 1px solid #bbb;
}

.social-icons {
  font-size: 2rem;
}

.social-icons li {
  cursor: pointer;
  transition: all 0.3s;
}

.social-icons li:hover {
  color: var(--dark-gold);
}

/* ------------------------------------ */

/* --------Products ---------------- */
.products-wrapper {
  padding: 30px;
  max-width: 1300px;
  margin: auto;
}

.filter-side-bar {
  width: 25%;
  float: left;
}

.product-list-wrapper {
  margin-right: 1rem;
  width: 70%;
  float: right;
}

.product-card {
  width: 17.1rem;
}

.product-card img {
  height: 20rem;
  width: 17rem;
}

.product-card .card-title {
  white-space: nowrap;
  width: 15rem;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
}

.product-image-wrapper {
  position: relative;
}

.product-image-wrapper img{
  cursor: pointer;
}

.btn-on-product {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: all 0.3s;
}

.product-image-wrapper:hover .btn-on-product {
  display: block;
  top: 20px;
  opacity: 1;
}

.btn-add-cart {
  background-color: var(--dark-gold);
  font-size: 1.2rem;
  right: 20px;
}

.btn-add-fav {
  background-color: var(--dark-gold);
  font-size: 1.2rem;
  right: 20px;
}

.product-card p {
  margin-bottom: 0;
}

/* --------------------------- */
/* ------------Authentication ------------------ */

.authentication-background {
  background-color: var(--dark-green);
  padding-bottom: 50px;
  padding-top: 30px;
}

.login-background {
  height: 100vh;
}

.register-background {
  padding-bottom: 10vh;
}

/* ---------------Authentication ---------- */
.forms {
  background: #fff;
  box-shadow: 0 0 5px #000;
  margin: 30px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.forms h3 {
  padding: 0 0 20px 0;
  /* font-size: 26px;
	color: #666; */
  font-weight: lighter;
  text-align: center;
}
.forms form {
  padding: 30px;
}
#signup {
  display: none;
}
.forms .tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.forms .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.forms .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #e5e6e7;
  color: #888;
  /* font-size: 20px; */
  float: left;
  width: 50%;
  text-align: center;
  border-top: 3px solid transparent;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
  background: #dedfdf;
  color: #666;
}
.forms .tab-group .active a {
  background: #fff;
  color: #444;
  border-top: 5px solid var(--dark-gold);
}

/* --------------------------------------- */
/* ----------------Cart -------------------- */

.cart-wrapper {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.cart-shopping-wrapper {
  width: 60%;
  float: left;
}

.checkout-wrapper {
  margin-right: 1rem;
  width: 37%;
  float: right;
}

.remove-item-btn {
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

/* ----------------------------------- */
/* ------------Product Detail------------ */

.product-wrapper {
  padding: 30px;
  max-width: 1300px;
  margin: auto;
}

.product-image {
  width: 55%;
  float: left;
}

.product-primary-image {
  width: 100%;
}

.product-secondary-image {
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.product-detail {
  margin-right: 1rem;
  width: 40%;
  float: right;
}

.btn-add-product-to-cart {
  background-color: var(--dark-gold);
  box-shadow: none;
  color: white;
  font-weight: bold;
}
.btn-add-product-to-cart:hover {
  color: white;
}
.btn-add-product-to-cart:active {
  background-color: var(--light-gold);
  box-shadow: none;
}

/* ------------------------------- */
