


/* .forms input {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: #666;
	border-radius: 0;
	margin-bottom: 10px;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms input:focus {
	outline: 0;
	border-color: #2e5ed7;
}
.forms label {
	font-size: 16px;
	font-weight: normal;
	color: #666;
	margin-bottom: 5px;
	display: block;
}
.forms .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #73cf41;
	color: #ffffff;
	cursor: pointer;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.forms .button:hover, .button:focus { background: #56ae26; }
.text-p { text-align: right; }
.text-p a { color: #1383ea; } */
